$green = #11EDAD
$blue_light = #0067CE
$blue_dark = #003366
$gray_light = #F2F2F2
$gray_dark = #515354

$background_blue_dark = #003366
$background_white = #FFFFFF
$background_gray_light = #F2F2F2

$border_blue_dark = #003366
$border_green = #11EDAD
$border_white = #FFFFFF

$button_blue = #0067CE

$text_white = #FFFFFF
$text_blue_dark = #003366
$text_gray_dark = #515354