$half_padding = 0.5rem
$normal_padding = 1rem
$double_padding = 2rem
$triple_padding = 3rem

$half_margin = 0.5rem
$normal_margin = 1rem
$double_margin = 2rem
$triple_padding = 3rem


$tablet_width = 768px