html
    font-family: "Ubuntu", sans-serif
.container
    margin: 0
    padding: 0
    width: 100%

/**
 * Header component
 */
@require "./components/header"

/**
 * Hero Component
 */
@require "./components/hero"

/**
 * Experience component
 */
@require "./components/experience"

/**
 * Projects component
 */
@require "./components/projects"

/**
 * Blog component
 */
@require "./components/blog"

/**
 * Work component
 */
@require "./components/work"

/**
 * Footer component
 */
@require "./components/footer"