div(class="row")
    div(class="col-12 col-sm-12 col-md-12")
        section(class="blog")
            div(class="blog__container")
                h2(class="blog__title") Read my blog
                div(class="blog__content")
                    h2(class="blog__content__title") Node.js first steps
                    p(class="blog__content__published") Published: April 1, 2019
                    button(class="blog__content__button") Read