div(class="row")
    div(class="col-12 col-sm-12 col-md-12")
        section(class="experience")
            div(class="experience__container")
                h2(class="experience__title") Experience
                div(class="experience__card col-12 col-sm-4 col-md-4")
                    div(class="experience__card__picture")
                    div(class="experience__card__text")    
                        h3(class="experience__card__company") KSquare
                        p(class="experience__card__position") Javascript Trainee
                        p(class="experience__Card__time") April 2019 - Present
                    div(class="w-100 experience__card__separator")
                    p(class="experience__card__job") Job Description
                    p(class="experience__card__job__description") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati praesentium dignissimos ipsa porro corporis odit placeat. Dolores rerum perspiciatis itaque ea iure sit, eaque ipsa animi earum, hic fugiat.
                
                div(class="experience__card col-12 col-sm-4 col-md-4")
                    div(class="experience__card__picture")
                    div(class="experience__card__text")    
                        h3(class="experience__card__company") Toh Tics
                        p(class="experience__card__position") Javascript Developer
                        p(class="experience__Card__time") June 2018 - August 2018
                    div(class="w-100 experience__card__separator")
                    p(class="experience__card__job") Job Description
                    p(class="experience__card__job__description") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati praesentium dignissimos ipsa porro corporis odit placeat. Dolores rerum perspiciatis itaque ea iure sit, eaque ipsa animi earum, hic fugiat.
                
                div(class="experience__card col-12 col-sm-4 col-md-4")
                    div(class="experience__card__picture")
                    div(class="experience__card__text")    
                        h3(class="experience__card__company") Walook
                        p(class="experience__card__position") Internship
                        p(class="experience__Card__time") August 2017 - December 2017
                    div(class="w-100 experience__card__separator")
                    p(class="experience__card__job") Job Description
                    p(class="experience__card__job__description") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati praesentium dignissimos ipsa porro corporis odit placeat. Dolores rerum perspiciatis itaque ea iure sit, eaque ipsa animi earum, hic fugiat.
                    