div(class="row no-gutters")
    div(class="col-12 col-sm-12 col-md-12")
        section(class="hero")
            div(class="hero__container")
                h3(class="hero__name") Rafael Rodríguez
                p(class="hero__title") JavaScript Developer
                div(class="hero__picture")
                p(class="hero__bio") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente eligendi amet eaque voluptatibus? Inventore voluptates aspernatur, incidunt magni nam deleniti alias dolorem ullam exercitationem, facilis fugiat aperiam, adipisci distinctio!