div(class="row")
    div(class="col-12 col-sm-12 col-md-12")
        section(class="projects")
            div(class="projects__container")
                h2(class="projects__title") Projects
                div(class="projects__card")
                    div(class="projects__card__title")
                        h3(class="projects__card___title__text") Todo App
                    div(class="projects__card__image")
                    div(class="projects__card__description")
                        p(class="projects__card__description__text") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    div(class="projects__card__button")
                        button(class="projects__card__button__content") View more
                    
                div(class="projects__card")
                    div(class="projects__card__title")
                        h3(class="projects__card___title__text") Todo App
                    div(class="projects__card__image")
                    div(class="projects__card__description")
                        p(class="projects__card__description__text") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    div(class="projects__card__button")
                        button(class="projects__card__button__content") View more
                    
                div(class="projects__card")
                    div(class="projects__card__title")
                        h3(class="projects__card___title__text") Todo App
                    div(class="projects__card__image")
                    div(class="projects__card__description")
                        p(class="projects__card__description__text") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    div(class="projects__card__button")
                        button(class="projects__card__button__content") View more
                
                    