div(class="row")
    div(class="col-12 col-sm-12 col-md-12")
        section(class="work")
            div(class="work__container")
                div(class="work__icon")
                h1(class="work__together") Wanna work together?
                p(class="work__message") Send me a message!
                form(action="false", class="work__form") 
                    input(type="text", class="work__form__input", placeholder="Email")
                    textarea(name="message", cols="30", rows="10", class="work__form__textarea", placeholder="Message")
                    div(class="work__form__button")
                        button(class="work__form__button__text") Send