$header_background = #c9c9ff

$text_color = #4F5162
$text_light_green = #00EFAC
$text_white = #fff
$text_purple = #7754E2

$background_white = #fff
$background_gray = #F8F7FD
$background_light_green = #F8FEFE;
$background_dark = #2B273A
$background_purple = #7754E2

$border_green = #01EFAD
$border_gray = #D9D9D9

$circle_purple = #7754E2
$circle_orange = #FFCE61
$circle_green = #84F499

$button_color = #7754E2
$button_color_work = #00EFAC

$border_gray = #E6E6E6