@require "../base/colors.styl";
@require "../base/fonts.styl";

.footer
    background-color: $background_white
    font-family: $text_font

    &__container
        box-sizing: border-box
        margin: 0
        padding: $normal_padding
        border-top: 0.375rem solid $text_light_green
        text-align: center

    &__text
        color: $text_color