@require "../base/colors.styl";
@require "../base/fonts.styl";

.work
    &__container
        background-color: $background_light_green
        box-sizing: border-box
        display: inline-block
        font-family: $text_font
        padding: $double_padding 4rem
        text-align: center
        width: 100%

    &__title
        color: $text_light_green
    
    &__subtitle
        color: $text_color
        padding-bottom: $normal_padding

    &__button
        background-color: $button_color_work
        border: none 
        color: $text_white
        display inline-block
        padding: $normal_padding 3rem
        text-align: center

        &__text
            margin: 0
            padding: 0

        &:hover
            cursor pointer

        