div(class="single__project__all")
    section(class="single__project")
        div(class="single__project__container")
            h3(class="single__project__title") Todo App
            p(class="single__project__description") Glorified todo app built on Javascript, HTML and CSS3 
            button(class="single__project__button") 
                h2(class="single__project__button__text") Ver más

    section(class="single__project")
        div(class="single__project__container")
            h3(class="single__project__title") Poc Chef
            p(class="single__project__description") Wanna order tortas, mate? We gotcha covered, fam!
            button(class="single__project__button") 
                h2(class="single__project__button__text") Ver más

    section(class="single__project")
        div(class="single__project__container")
            h3(class="single__project__title") Conference App
            p(class="single__project__description") Wanna book a conference room? We gotcha covered, fam!
            button(class="single__project__button") 
                h2(class="single__project__button__text") Ver más