section(class="single__work")
    div(class="single__work__container")
        h3(class="single__work__company") KSquare
        p(class="single__work__position") Javascript trainee
        p(class="single__work__time") April 2019 - Present
        a(class="single__work__more", href="#") 
            h3(class="single__work__more__text") View more

    div(class="single__work__container")
        h3(class="single__work__company") Toh Tics
        p(class="single__work__position") Javascript developer
        p(class="single__work__time") June 2018 - August 2018
        a(class="single__work__more", href="#") 
            h3(class="single__work__more__text") View more

    div(class="single__work__container")
        h3(class="single__work__company") Walook
        p(class="single__work__position") Internship
        p(class="single__work__time") August 2017 - December 2017
        a(class="single__work__more", href="#") 
            h3(class="single__work__more__text") View more