section(class="work")
    div(class="work__container")
        h1(class="work__title") Wanna work together?
        h3(class="work__subtitle") Let's get in touch!
        button(class="work__button")
            h3(class="work__button__text") Send me a message!