/**
 * Header component
 */
@require "./components/header"

/**
 * Hero Component
 */
@require "./components/hero"

/**
 * Skills Component
 */
@require "./components/skills"

@require "./components/projects"

@require "./components/single_project"

@require "./components/work"

@require "./components/footer"

@require "./components/blog"

@require "./components/experience"

@require "./components/single_work"